<%= form_with(model: event) do |form| %>

    <%= render "shared/errors", object: event %>

    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>

    <%= form.label :description %>
    <%= form.text_area :description, rows: 5 %>

    <%= form.label :location %>
    <%= form.text_field :location %>

    <%= form.label :price %>
    <%= form.number_field :price %>

    <%= form.label :starts_at %>
    <%= form.datetime_select :starts_at, {ampm: true}, {class: "datetime"} %>

    <%= form.label :capacity %>
    <%= form.text_field :capacity %>
    
    <%= form.label :image_file_name %>
    <%= form.text_field :image_file_name %>

    <div class="checkboxes">
        <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
    </div>

    <%= form.submit %>

<% end %>